:root
{
    --main-color: blue;
    --main-color-fainted: rgba(0, 0, 255, 0.7);
    --main-color-very-fainted: rgba(0, 0, 255, 0.3);
    --font-color: whitesmoke;
    --main-danger: #ff1000;
    --main-create: #10aa00;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav
{
    width: 100%;
    padding: 15px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a
{
    color: var(--main-color);
    text-decoration: none;
}

nav ul
{
    list-style: none;
    margin-inline: auto;
    position: relative;
    left: -75px;
}

nav ul a
{
    margin: 10px;
    color: var(--main-color);
    text-decoration: none;
    font-size: 21px;
    font-weight: bold
}

main
{
    width: 90%;
}

h1,
h2,
h3
{
    color: var(--main-color);
    margin-bottom: 40px;
}

table
{
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

td
{
    padding: 15px;
}

tr:nth-child(even)
{
    background: var(--main-color-very-fainted);
}

.form > *
{
    margin-bottom: 10px;
}

.form input:not([type="submit"]),
.form textarea,
.form select
{
    width: 300px;
    padding: 5px;
    border: 1px solid var(--main-color-fainted);
    border-radius: 10px;
}

.form input:not([type="submit"]):focus,
.form textarea:focus,
.form select:focus
{
    outline: none;
    border: 2px solid var(--main-color);
}

.form select
{
    background: var(--main-color-fainted);
    color: var(--font-color);
    font-weight: bold;
}

.submit
{
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--font-color);
    cursor: pointer;
}

.logo
{
    width: 90px;
}

.btn
{
    all: unset;
    padding-inline: 15px;
    padding-block: 5px;
    font-size: 17px;
    cursor: pointer;
}

.btn-main
{
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--font-color);
}

.btn-danger
{
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--main-danger);
    color: var(--font-color);
}

.btn-create
{
    width: 330px;
    margin-top: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bold;
    background-color: var(--main-create);
    color: var(--font-color);
    text-align: center;
}

